@media only screen and (max-width: 94.5em) /* 1512px */ {
.margin-mq {margin-bottom: var(--distance-12);}
.product-img-lg {
    max-width: 22rem;
    max-height: 16.5rem;
}
.text-size-sm-mq {font-size: var(--display-sm);}

.height-width-mq{
    max-width: 50rem;
    max-height: 37.5rem;
}
}

@media only screen and (max-width: 79em /* 1264px */) {
    .height-width-1264px {
        max-width: 40rem;
        max-height: 30rem;
    }
    .text-size-xxs-mq {font-size: var(--display-xxs);}
    .product-img-lg {
        max-width: 16rem;
        max-height: 12rem;}
   /*  .center-align  { justify-content:center;} */
    .side-menu-width {
        min-width: 19%;
    }
    .margin-product-text {padding-right: var(--distance-8);}

 
    
    
}

@media only screen and (max-width: 67.375em /* 1078px */){
/* .d-sm-none {display: none !important;} */
/* .d-sm-block {display: block !important;} */
.product-img-lg {
    max-width: 12rem;
    max-height: 9rem;   
}
.text-size-xxs-mq-1078px {font-size: var(--display-xxs);}
.height-width-1078px {
    max-width: 33rem;
    max-height: 22.5rem;
}

}
@media only screen and (max-width: 56.5625em) /* 905 */
{
    .height-width-905px {
        max-width: 28rem;
        max-height: 22.5rem;
    }
    .product-img-lg {
        max-width: 10rem;
        max-height: 7.5rem;   
    }
    .text-size-xs-mq-905px {font-size: var(--display-xs);}
}

/* @media only screen and (max-width: 56.5625em) 
{   
    .f-width {min-width: 100% !important; }
    .d-sm-none {display: none !important;}
    .d-sm-block {display: block !important;}
    .max-width-none {max-width: none !important;}
    .img-sm-width {min-width: 100% !important;}
    .margin-mq {margin-bottom: var(--distance-12);}

    
} */